
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: hsl(218, 23%, 16%);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content :center;
  align-items:center;
  overflow-x: hidden;
}
